$opensans: "Open Sans", sans-serif;

:root {
  --accent-btn-color: #ff7d00;
  --hover-btn-color: #fc912a;
  --active-btn-color: #ff6b00;

  --text-color: #fff;

  --content-header-color: #00afcc;

  --content-about-color: #73e5ff;

  --accent-icons-color: #3e6e96;
  --hover-icons-color: #2d7fa3;

  --link-color: #00636d;
  --link-size: 18px;

  --font-size-h1: 52px;
  --font-size-h2: 40px;
  --laptop-size-h1: 44px;
  --laptop-size-h2: 36px;
  --laptop-size-header-link-number: 24px;
  --laptop-size-header-link-address: 16px;
  --mobile-size-header-link-number: 16px;
  --mobile-size-header-link-address: 12px;
  --table-size-h1: 36px;
  --table-size-h2: 32px;
  --mobile-size-h1: 24px;
  --mobile-size-h2: 20px;

  --btn-border-radius: 8px;

  --max-width: 100%;
}
